# Archivos de documentación no deseados
README.md

# Archivos del sistema y editor
.DS_Store
.vscode/

# Ignorar en cualquier nivel del proyecto
**/target/
**/build/
**/node_modules/
**/playwright-report/
**/test-results/
*.log